.page {
  margin: 0 auto;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-image: var(--gradient-bg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--regular-fw);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0;
  max-inline-size: 700px;
}

.header {
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
}

.header__container {
  gap: 20px;
  border: 2px solid var(--main-black);
  padding: 30px;
  text-align: center;
  background-color: var(--main-white);
  min-block-size: 368px;

  @media (width <= 375px) {
    padding: 10px;
    min-block-size: 327px;
  }
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.69vw, 4.063rem);
  line-height: 100%;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.951vw, 1.438rem);
  line-height: 100%;
}

.card__list {
  display: grid;
  gap: 50px;
  inline-size: 100%;
}

.card__item {
  border: 2px solid var(--main-black);
  background-color: var(--main-white);
}

.card__title {
  border-block-end: 2px solid var(--main-black);
  padding: 5px 10px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-variation-settings: 'wght' var(--bold-fw);
}

.card__img-wrapper {
  border-block-end: 2px solid var(--main-black);
  overflow: hidden;
  block-size: clamp(23.3125rem, 16.2042rem + 30.3286vw, 43.5rem);
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
}

.card__description {
  display: grid;
  gap: 27px;
  padding: 25px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-variation-settings: 'wght' var(--regular-fw);
}

.card__controls {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  gap: 6px;
  padding: 0 25px 25px;
}

.card__icon-button {
  align-self: center;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  inline-size: 39px;
  block-size: 36px;
}

.card__icon-button .core {
  fill: transparent;
  transition: fill 0.3s ease;
  transition-delay: 0.03s;
}

.card__icon-button .main-body {
  fill: transparent;
  transition: fill 0.3s ease;
  transition-delay: 0s;
}

.card__icon-button:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.card__icon-button:active .contour {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.card__icon-button:active .core {
  --contour-color: rgba(255, 0, 0, 1);
  transition-delay: 0s;
}

.card__icon-button:active .main-body {
  --contour-color: rgba(255, 0, 0, 1);
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.sparks {
  opacity: 0;
}

.like-icon {

}

.is-liked {
  --contour-color: rgba(255, 0, 0, 1);
  transition: transform 0.3s ease-in;
}

.is-liked .core {
  fill: var(--contour-color);
}

.is-liked .main-body {
  fill: var(--contour-color);
  transition-delay: 0.03s;
}

.is-liked .contour {
  transition-delay: 0.06s;
}

.is-liked .heart {
  transition-delay: 0.1s;
  animation: scale 0.3s ease-in 0.1s;
}

.is-liked .sparks {
  transition-delay: 0.1s;
  animation: sparks 0.3s ease-in 0.3s;
}

@keyframes scale {
  0% {
    transform: scale(1);
  } 50% {
    transform: scale(1.25);
  } 100% {
    transform: scale(1);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  } 50% {
    opacity: 1;
  } 100% {
    opacity: 0;
  }
}

.card__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-black);
  box-shadow: none;
  overflow: hidden;
  color: var(--main-black);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 90%;
  background-color: var(--main-white);
  transition: box-shadow 0.3s ease, color 0.5s ease;
  cursor: pointer;
  min-block-size: 38px;
  inline-size: 130px;
}

.card__like-button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--main-black);
  transition: translate 0.5s ease;
  translate: -100%;
}

.card__like-button:hover {
  color: var(--main-white);
}

.card__like-button:hover::before {
  translate: 0;
}

.card__like-button:focus {
  box-shadow: none;
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-black);
  outline: none;
}

.button__text {
  z-index: 1;
  /* mix-blend-mode: difference; */
}

