.page {
  margin: 0 auto;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: beige;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--regular-fw);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0;
  max-inline-size: 700px;
}

.header {
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
}

.header__container {
  gap: 20px;
  border: 2px solid var(--main-black);
  padding: 30px;
  text-align: center;
  background-color: var(--main-white);
  min-block-size: 368px;

  @media (width <= 375px) {
    padding: 10px;
    min-block-size: 327px;
  }
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.69vw, 4.063rem);
  line-height: 100%;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.951vw, 1.438rem);
  line-height: 100%;
}

.card__list {
  display: grid;
  gap: 50px;
  inline-size: 100%;
}

.card__item {
  border: 2px solid var(--main-black);
  background-color: var(--main-white);
}

.card__title {
  border-block-end: 2px solid var(--main-black);
  padding: 5px 10px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-variation-settings: 'wght' var(--bold-fw);
}

.card__img-wrapper {
  border-block-end: 2px solid var(--main-black);
  overflow: hidden;
  block-size: clamp(23.3125rem, 16.2042rem + 30.3286vw, 43.5rem);
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
}

.card__description {
  display: grid;
  gap: 27px;
  padding: 25px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-variation-settings: 'wght' var(--regular-fw);
}

.card__controls {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  gap: 12px;
  padding: 0 25px 25px;
}

.card__icon-button {
  align-self: center;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  block-size: 24px;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-black);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 90%;
  background-color: var(--main-white);
  cursor: pointer;
  min-block-size: 38px;
  inline-size: 130px;
}
