/* Общие стили элементов страницы */

.page {
  margin: 0 auto;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-image: var(--gradient-bg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--regular-fw);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0;
  max-inline-size: 700px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-black);
  box-shadow: none;
  overflow: hidden;
  color: var(--main-white);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 90%;
  background-color: var(--main-white);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--main-black);
  transition: translate 0.5s ease;
  translate: -100%;
}

.button:hover::before {
  translate: 0;
}

.button:focus {
  box-shadow: none;
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-black);
  outline: none;
}

.button__text {
  z-index: 1;
  mix-blend-mode: difference;
}

/* Шапка страницы */

.header {
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
}

.header__container {
  gap: 20px;
  border: 2px solid var(--main-black);
  padding: 30px;
  text-align: center;
  background-color: var(--main-white);
  min-block-size: 368px;

  @media (width <= 375px) {
    padding: 10px;
    min-block-size: 327px;
  }
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.69vw, 4.063rem);
  line-height: 100%;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.951vw, 1.438rem);
  line-height: 100%;
}

/* Список карточек */

.card__list {
  display: grid;
  gap: 50px;
  inline-size: 100%;
}

.card__item {
  border: 2px solid var(--main-black);
  background-color: var(--main-white);
}

.card__title {
  border-block-end: 2px solid var(--main-black);
  padding: 5px 10px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-variation-settings: 'wght' var(--bold-fw);
}

.card__img-wrapper {
  position: relative;
  border-block-end: 2px solid var(--main-black);
  overflow: hidden;
  block-size: clamp(23.3125rem, 16.1602rem + 30.5164vw, 43.625rem);
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
}

.card__img-text {
  position: absolute;
  top: 25px;
  right: 25px;
  color: black;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-shadow: var(--img-text-shadow);
  mix-blend-mode: hard-light;

  @media (width <= 375px) {
    right: 11px;
  }
}

@supports (text-shadow: var(--img-text-shadow)) {
  .card__img-text {
    text-shadow: var(--img-text-shadow);
  }
}

.card__description {
  display: grid;
  gap: 27px;
  padding: 25px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-variation-settings: 'wght' var(--regular-fw);
}

.card__controls {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  gap: 6px;
  padding: 0 25px 25px;
}

.card__like-button {
  min-block-size: 38px;
  inline-size: 130px;
}

/* Кнопка с анимацией сердца */

.card__icon-button {
  align-self: center;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  inline-size: 39px;
  block-size: 36px;
}

.card__icon-button .core {
  fill: transparent;
  transition: fill 0.3s ease;
  transition-delay: 0.03s;
}

.card__icon-button .main-body {
  fill: transparent;
  transition: fill 0.3s ease;
  transition-delay: 0s;
}

.card__icon-button:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.card__icon-button:active .contour {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.card__icon-button:active .core {
  --contour-color: rgba(255, 0, 0, 1);
  transition-delay: 0s;
}

.card__icon-button:active .main-body {
  --contour-color: rgba(255, 0, 0, 1);
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.sparks {
  opacity: 0;
}

.is-liked {
  --contour-color: rgba(255, 0, 0, 1);
  transition: transform 0.3s ease-in;
}

.is-liked .core {
  fill: var(--contour-color);
}

.is-liked .main-body {
  fill: var(--contour-color);
  transition-delay: 0.03s;
}

.is-liked .contour {
  transition-delay: 0.06s;
}

.is-liked .heart {
  transition-delay: 0.1s;
  animation: scale 0.3s ease-in 0.1s;
}

.is-liked .sparks {
  transition-delay: 0.1s;
  transform-origin: center;
  animation: sparks 0.3s ease-in 0.3s;
}

@keyframes scale {
  0% {
    transform: scale(1);
  } 50% {
    transform: scale(1.25);
  } 100% {
    transform: scale(1);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  } 50% {
    opacity: 1;
  } 100% {
    opacity: 0;
  }
}

/* Блок с popup */

.save {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 105px;
}

.save__button {
  display: flex;
  gap: 9px;
  min-block-size: 54px;
  inline-size: 338px;

  @media (width <= 375px) {
    flex-direction: column;
    padding: 15px;
    inline-size: 310px;
  }
}

.save__svg {
  fill: var(--main-white);
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;

  @media (width <= 375px) {
    inline-size: 28px;
    block-size: 28px;
  }
}

.popup:open {
  display: grid;
  gap: 28px;
  border: 2px solid var(--main-black);
  padding: 30px;
  max-inline-size: 356px;
  inline-size: 100%;

  @media (width <= 375px) {
    padding: 30px 40px;
    max-inline-size: 341px;
  }
}

.popup::backdrop {
  opacity: 75%;
  background-color: var(--main-black);
}

.popup__wrapper {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 20px;
}

.popup__svg {
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}

.popup__title {
  color: var(--main-black);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.popup__button {
  padding: 12px;
}

/* Фильтры */

.blur .card__img {
  filter: blur(2px);
}

.brightness .card__img {
  filter: brightness(0.7);
}

.contrast .card__img {
  filter: contrast(1.25);
}

.grayscale .card__img {
  filter: grayscale(1);
}

.hue-rotate .card__img {
  filter: hue-rotate(330deg);
}

.invert .card__img {
  filter: invert(1);
}

.saturate .card__img {
  filter: saturate(1.5);
}

.blur-hue-saturate .card__img {
  filter: blur(2px) hue-rotate(330deg) saturate(1.5);
}
