:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --regular-fw: 400;
  --bold-fw: 700;
  --main-black: rgba(0, 0, 0, 1);
  --main-white: rgba(255, 255, 255, 1);
  --contour-color: rgba(0, 0, 0, 1);
  --animation-fill-color: rgba(255, 0, 0, 1);
  --gradient-bg: repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
                 repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px,transparent 4px),
                 linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}